<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MajiApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/styles/zone6_user_dash.css">

</head>
<body>
    <header>
        <div class="container row">
            <a class="logo_img" href="#">
                <img src="" alt="logo">
            </a>
            <nav class="navigation">
                <ul class="nav_list
                nav__list--primary">
                    <li class="nav-item"><a href="#" class="nav-link"> Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Contact</a></li>
                </ul>
                <ul class="nav_list">
                    <li class="nav-item"><a href="#" class="nav-link"> Sign In</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Sign up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="user_interface">
        <div class="container row">
            <div class="user_sidebar">
               <ul class="user_links">
                   <li><a href="#">My profile</a></li>
                   <li><a href="#">Water Schedules</a></li>
                   <li><a href="#">Conservation Tips</a></li>
                   <li><a href="#">Complaints</a></li>
                   <li><a href="#">Updates</a></li>
                   <li><a href="#">water usage</a></li>
                   <li><a href="#">change password</li>
                   <li><a href="/logout">Logout</a></li>
               </ul> 
            </div>
            <div class="zone6_map">
                <img src="../static/img/zone6.jpeg" alt="map">
                <div id="description">
                    <h2>Zone description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Porro, earum. Fugiat laborum repellendus nostrum atque enim nulla eligendi, 
                        ipsa, a perspiciatis in repudiandae! Nesciunt laudantium ea in repellendus.
                        Impedit, quia.</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container row">
            <h1>MajiTrack</h1>
            <div class="contact">
                <h2>Contact</h2>
            <p>Bkryan.bk@gmail.com</p>
            </div>
            <div class="location">
                <h2>Location</h2>
            <p>Nanyuki, Kenya</p>
            </div>
        </div>
    </footer>
</body>
</html>
