<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MajiApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/styles/zones.css">
</head>
<body>
    <header>
        <div class="container row">
            <a class="logo_img" href="#">
                <img src="" alt="logo">
            </a>
            <nav class="navigation">
                <ul class="nav_list
                nav__list--primary">
                    <li class="nav-item"><a href="#" class="nav-link"> Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Contact</a></li>
                </ul>
                <ul class="nav_list">
                    <li class="nav-item"><a href="#" class="nav-link"> Sign In</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Sign up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="Home">
        <div class="container">
            <div class="zones-title">
                <h1>Water Zones Management</h1>
            </div>
            <div class="zones_img">
                <img src="https://static.wixstatic.com/media/704b3b_faf7815a125247ceb029553602c0d478~mv2.jpeg/v1/crop/x_0,y_328,w_1024,h_368/fill/w_980,h_352,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/distributionpipes.jpeg">
            </div>
                <p>Water Zones Management refers to the systematic approach of dividing a region into specific areas, 
                    known as Water Management Zones (WMZs), to effectively manage water resources. 
                    These zones are designed to address various aspects of water management, 
                    including surface water allocation, water quality, and activities within riverbeds and lakes. 
                    The primary goal is to integrate management practices across different ecosystems and activities
                    within a catchment area.
                </p>    
            
        </div>
    </section>
    <section class="zones_maps">
        <div class="container">
            <div id="zones_text">
                "To ensure fair and responsive water zone management, MajiTrack provides tools for creating zone-specific rationing and supply strategies. 
                This approach, which factors in individual zone requirements and water availability, promotes equitable distribution. 
                Further, the system's ability to adjust rationing in real-time based on current data and forecasts means water allocation is always optimized and disruptions are minimized."
            </div>
            <div class="zones-grid"> 
                <div class="zone-info">
                    <h2 class="zone_one">Zone_1</h2>
                    <div class="zone_map">
                        <a href="#"><img src="../static/img/zone1.jpeg" alt="map_image">
                        </a> 
                    </div>
                    <p>This zone covers point A to point B.
                        Click on "image" to continue</p>
                </div>
                <div class="zone-info">
                    <h2 class="zone_two">Zone_2</h2>
                    <div class="zone_map">
                        <a href="#"><img src="../static/img/zone2.jpeg" alt="map_image">
                        </a>
                    </div>
                    <p>This zone covers point C to point D.
                        Click on "image" to continue</p>
                </div>
                <div class="zone-info">
                    <h2 class="zone_three">Zone_3</h2>
                    <div class="zone_map">
                        <img src="../static/img/zone3.jpeg" alt="map_image">
                    </div>
                    <p>This zone covers point E to point F.
                        Click on "image" to continue</p>
                </div>
                <div class="zone-info">
                    <h2 class="zone_four">Zone_4</h2>
                    <div class="zone_map">
                        <a href="#"><img src="../static/img/zone4.jpeg" alt="map_image">
                        </a>
                    </div>
                    <p>This zone covers point G to point H.
                        Click on "image" to continue</p>
                </div>
                <div class="zone-info">
                    <h2 class="zone_five">Zone_5</h2>
                    <div class="zone_map">
                        <a href="#"><img src="../static/img/zone5.jpeg" alt="map_image">
                        </a>
                    </div>
                    <p>This zone covers point I to point J.
                        Click on "image" to continue</p>
                </div>
                <div class="zone-info">
                    <h2 class="zone_six">Zone_6</h2>
                    <div class="zone_map">
                        <a href="#"><img src="../static/img/zone6.jpeg" alt="map_image">
                        </a>
                    </div>
                    <p>This zone covers point K to point L.
                        Click on "image" to continue</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container row">
            <h1>MajiTrack</h1>
            <div class="contact">
                <h2>Contact</h2>
            <p>Bkryan.bk@gmail.com</p>
            </div>
            <div class="location">
                <h2>Location</h2>
            <p>Nanyuki, Kenya</p>
            </div>
        </div>
    </footer>
</body>
</html>