*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 2px solid#824936; */
}
.row {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

header {
    background: #0ba3df;
    padding: 0.5em 0;
    background-image: url("../img/water_bubbles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    padding: 1em 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.nav_list {
    margin: 0;
    display: flex;
    list-style: none;
}
.nav__list--primary{
    margin: 0 auto;
}
.nav-item + .nav-item {
    margin-left: 1em;
}
.nav-link{
    color: rgb(5, 5, 5);
    text-decoration: none;
}
.Home{
    background-color: #ffffff;
    padding: 25em; 
    color: rgb(0, 0, 0);
    background-image: url("../img/Aguatrack\ logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.btn--home{
    background-color: #1a849e;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    padding: .5em;
}
.btn--home:hover{
    background: rgb(18, 226, 216);
}
.btn{
    color: rgb(7, 7, 7);
    background-color: #1a849e;
    border-radius: 5px;
    text-decoration: none;
    padding: .5em;
}
.btn:hover{
    background: rgb(18, 226, 216);
}
.features{
    padding: 3em 0;
    background-image: url("../img/rapid_river.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    padding: 5em;

}
.section-title--two{
    /* border: 2px solid red; */
    justify-self: right;
    font-size: 2.5em;
    color: #1d440b;
    margin-right: 1em;
    font-family: sans-serif;
}
.story{
    background-color: #824936;
    padding-bottom: 1em;
    margin-top: 0;
}
section{
    /* padding: 4em 0; */
    margin: 0;
}
.section-title--one{
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 0px;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.app-feature{
    text-align: left;
    background-color: #0ba3df;
    border-radius: 10px;
    padding: 1em; ;
}

.app-feature + .app-feature {
    padding-left: 1em;
    margin-left: 1em;
    width: 100%;
}
.testimonials{
    background-color: #824936;
}
.col{
    width: 100%;
    
}.col + .col{
    margin-left: 1em;
}
footer{
    background: #0ba3df;
    padding: 1em 0;
    background-image: url("../img/water_bubbles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}
/* @media (max-width : 868px){
    .feature-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .row{
        display: block;
    }
    .section-title--two{
        justify-self: center;
        color: #ffffff;
    }
} */
/* @media (max-width : 624px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .app-feature{
        width: 100%;
    }
} */